project_kickercheck/Assets/XMLValidation/kickercheck_xml_schema.xsd

 <!--Dokument ,welches das XML-Schema zur validierung von XML-basierten requests beinhaltet -->
 
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:kickercheck="http://kickercheck/validation_namespace"
             targetNamespace="http://kickercheck/validation_namespace">

<!-- element declarations --> 

    <!-- Ressourcentypen --> 
    <xsd:element name="Benutzer" type="kickercheck:BenutzerTyp">

    <xsd:element name="Turnier" type="kickercheck:TurnierTyp">

    <xsd:element name="Match" type="kickercheck:MatchTyp">

    <xsd:element name="Kickertisch" type="kickercheck:KickertischTyp"> 

    <xsd:element name="Standort" type="kickercheck:StandortTyp">
    
    
    
    
    <!-- subelements -->
    
    <!--Benutzerelement subelements -->
    
        <xsd:element name="Name" type=xsd:string>

        <xsd:element name="Alter" type=xsd:integer> 

        <xsd:element name="bevorzugte_Position" type="kickercheck:bevorzugte_PositionTyp">
    
        <!-- hier Bildtyp nachschlagen --> 
        <xsd:element name="Profilbild" type="xsd:binary">
    
    <!--Match subelements -->
    
        <xsd:element name="Datum" type="xsd:date">

        <xsd:element name="Uhrzeit" type="xsd:time">
        
    <!--Kickertisch subelements -->
    
        <xsd:element name="Tischhersteller" type="kickercheck:TischherstellerTyp"/>
        
        <xsd:element name="Modell" type="kickercheck:ModellTyp"/>


<!--type declarations-->

    <xsd:complexType name="kickercheck:BenutzerTyp">
        <element ref="kickercheck:Name"/>
        <element ref="kickercheck:Alter"/>
        <element ref="kickercheck:bevorzugte_Position"/>
        <!-- hier Bildtyp nachschlagen --> 
        <element ref="kickercheck:Profilbild"/>
    </complexType> 
    
    <xsd:complexType name="kickercheck:TurnierTyp">
        <element ref="kickercheck:Standort"/>
        <element ref="Tischhersteller"/>

    </complexType> 

    <xsd:complexType name="kickercheck:MatchTyp">
        <element ref="kickercheck:Datum"/>
        <element ref="kickercheck:Uhrzeit"/>
    </complexType> 

    <xsd:complexType name="kickercheck:KickertischTyp">
        <element ref="kickercheck:Standort"/>
        <element ref="kickercheck:Tischhersteller"/>
    </complexType> 
    
    <xsd:complexType name="kickercheck:TischherstellerTyp">
        <element ref="kickercheck:Name"/>
        <element ref="kickercheck:Modell"/>
    </complexType>
    
    <xsd:complextType name="kickercheck:ModellTyp">
        <!-- Art des Tisches (regular,)-->

    </complexType>

    <xsd:complexType name="kickercheck:StandortTyp">

    </complexType> 

</schema>
